<div id='about-page'>
  <div id='about-area'>
    <div class="row">
      <div class="col-lg-6">
        <h1>{{heading}}</h1>
      </div>
      <div class="col-lg-6">
        {{> aboutPartial}}         <!-- About Area !-->
      </div>
    </div>
  </div>
</div>