<div>
    <textarea id="post-box" type="text" name="message" class="form-control"></textarea>
    <button type="submit" id="post-btn" role="button" class="btn btn-success btn-sm" onclick="createConversation()">Send</button>
</div>
