<div id="direct-messaging">
    <div class="row">
        <div id="current-conversations" class="col-sm-4">
        </div>
        <div id="messages" class="col-sm-8">
            <div id="convo-box">
            </div>
            <form id="send-container">
                <input type="text" id="message-input" name="message-input">
                <button class="btn-primary" type="submit" id="send-button" role="button">Send</button>
            </form>
        </div>
    </div>
</div>
