<div id='homePage'>
	<div id="register-area">
		<div class="row">
			<div class="col-lg-6">
				<img src="http://localhost:3000/images/knowledge.jpg"/>
			</div>
			<div class="col-lg-6">  
				<h1>{{heading}}</h1>    	
				{{> registerPartial}} <!-- Register Area !-->
			</div>
		</div>
	</div>
</div>