#register-area {
    width: 800px;
    margin: 0 auto;
    padding-top: 45px;
}
#formLogin{
    padding: 15px; 
    min-width:300px;
    left: -232px;
    top: 45px;
    position: absolute;
}

.photo-col {
    width: 600px;
}

img {
    width: 100%;
}









