
.search-post {
    margin-bottom: 2%;
    background-color: white;
}


.search-post-image{
   zoom:1.5;
   border-radius: 50%;
   border: 3px solid #d9d9d9;   
   margin: 1%;
   margin-top: -3%;
   width: 150px;
   height: 150px;
}

.search-post-subject {
      padding-top: 2%;
      padding-left: 24%;
      font-size: 20px;
      width: 80%;    
}


.search-post-topic{
    
    float: right;
    margin-right: 10%;
    font-size:20px;
    border: 1px solid #25a7da;
    color: #25a7da;
    padding: 3px;
    margin-left: 70%;
    margin-top: -1.5%;
    position: absolute;
}

.search-post-message{
    padding-left: 24%;
    font-size: 18px;
    margin-top: -6%;
    min-height: 100px;
    width: 80%; 
}

.search-post-reply{
    float:right;
    margin-top: -2.2%;  
    margin-right: 5%;
}

.search-post-date{
    padding-left: 24%;
}