<div class="row message-row" onclick="">
    <div id="message-container">
        <img id="profile-pic-message" src="http://localhost:3000/images/knowledge.jpg">
        <div id="content" class="row">
            <h6 id="name-message">name lastname &#9679 time</h6>
            <h6 id="message">message content</h6>
        </div>
    </div>
</div>
