<form action="/post" method="post">
    <input id="post-form-subject" name="subject" class="form-control" placeholder="subject"/>
    <textarea id="post-box" type="text" name="content" class="form-control"></textarea>
    <select id="topic-select" name="topic" class="form-control">
        <option>PHP</option>
        <option>Node.js</option>
        <option>Java</option>
        <option>SQL</option>
        <option>Zend</option>
    </select>
    <button type="submit" id="post-btn" role="button" class="btn btn-success btn-sm">Post</button>
</form>
