
<form id = 'search-topic-form' action="/searchbytopic" method="post">
<div id = 'search-by-topic-heading'>Search by Topic </div>
<select class="search-form-control" id="topic-search-select" name="searchByTopic" >
        <option>PHP</option>
        <option>Node.js</option>
        <option>Java</option>
        <option>SQL</option>
        <option>Zend</option>
    </select>
<button id = 'btn-search-by-topic' type="submit" id="post-btn" role="button" class="btn btn-success btn-sm">go -></button>
</form>

    