<div class="row conversation-row" onclick="startConversation()">
    <div id="user-card">
        <img id="profile-pic-select" src="http://localhost:3000/images/knowledge.jpg">
        <h5 id="name" class="d-none d-lg-block">name lastname</h5>
    </div>
</div>
